
@model FlightsInfo.Models.FlightToDisplay

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Flight</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.FlightID)

    <div class="form-group">
        @Html.LabelFor(m => m.DepartureAirportID, "Departure Airport", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.DepartureAirportID, new SelectList(ViewBag.SelectableAirports, "AirportID", "AirportName"))
            @Html.ValidationMessageFor(m => m.DepartureAirportID)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DestinationAirportID,"Destination Airport", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.DestinationAirportID, new SelectList(ViewBag.SelectableAirports, "AirportID", "AirportName"))
            @Html.ValidationMessageFor(m => m.DestinationAirportID)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AircraftID, "Aircraft Model", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.AircraftID, new SelectList(ViewBag.SelectableAircrafts, "AircraftID", "AircraftName"))
            @Html.ValidationMessageFor(model => model.AircraftID)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
